@model intec_proyecto_final_t_3.Models.InvoicesView

@{
    ViewData["Title"] = "Invoices";
}

<h1>Details</h1>

<div>
    <h4>Invoices</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Customer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class = "col-sm-2">
            State
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            Date Invoiced
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInvoice)
        </dd>
        <dt class = "col-sm-2">
            Date Due
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt class = "col-sm-2">
            Amount Untaxed
        </dt>
        <dd class = "col-sm-10">
            $ @Html.DisplayFor(model => model.AmountUntaxed)
        </dd>
        <dt class = "col-sm-2">
            Amount Tax
        </dt>
        <dd class = "col-sm-10">
            $ @Html.DisplayFor(model => model.AmountTax)
        </dd>
        <dt class = "col-sm-2">
            Amount Total
        </dt>
        <dd class = "col-sm-10">
            $ @Html.DisplayFor(model => model.AmountTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
